<div>
  <button mat-button (click)="onNewNote()">
    <mat-icon>add</mat-icon>New note
  </button>
  <button mat-button>
    <mat-icon>favorite</mat-icon>Add to favorites
  </button>
  <button mat-button>
    <mat-icon>sync</mat-icon>Syncronize
  </button>  
</div>



<div fxLayout="row" style="height:100%;">
  <div fxFlex="30" resizable [sizerBarPosition]="2">
    <div fxLayout="column" style="height:100%;">
      <mat-form-field color="primary" floatLabel="never" style="width: 100%;">
        <input #searchHelpPanelContainer matInput [(ngModel)]="searchFor" #searchInput type="search" placeholder="Search notes..."
          (keydown)="searchRepositoryKeyDown($event);">
        <button mat-button matSuffix mat-icon-button aria-label="Search repository" (click)="searchRepository();">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <div style="overflow: auto; height:100%;">
        <mat-nav-list>
          <mat-list-item *ngFor="let note of notes" (click)="onNoteClick(note)">
            <mat-icon matListAvatar svgIcon="avatars:svg-14" class="avatar"></mat-icon>
            <span>{{note.title}}</span>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </div>

  <div fxFlex="70">
    <div fxLayout="column" style="height:100%; width:100%">
      <div fxLayout="row">
        <input matInput placeholder="Note title" [(ngModel)]="selectedNote.title">      

        <button mat-button (click)="onPrintNote()">
          <mat-icon>print</mat-icon>
        </button> 

        <button mat-button (click)="onSaveNote()">
          <mat-icon>save</mat-icon>Save
        </button> 

      </div>
      <editor [init]="editorSetup" fxLayout="column" style="height:100%; width:100%"></editor>
    </div>
  </div>
</div>
